<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book a Room - USP Hotel</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
            background-color: #f5f5dc; /* Soft cream color */
        }
    </style>
</head>
<body>
    @using (Html.BeginForm("BookARoom", "Rooms", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="flex justify-center items-center min-h-screen">
            <div class="bg-white rounded-lg shadow-lg overflow-hidden max-w-4xl w-full p-8">
                <h2 class="font-bold text-2xl mb-4 text-center">Book a Room</h2>
                <form id="bookingForm" action="/Rooms/BookARoom" method="post">
                    <div id="roomDetails">
                        <h3>Room Number: @Model.Number</h3>
                        <p>Type: @Model.Type</p>
                        <p>Price: $@Model.Price.ToString("F2")</p>
                        <div>
                            Check-In Date: <input type="date" name="checkInDate" id="checkInDate" class="date-input p-2 border border-gray-300 rounded" required />
                        </div>
                        <div>
                            Check-Out Date: <input type="date" name="checkOutDate" id="checkOutDate" class="date-input p-2 border border-gray-300 rounded" required />
                        </div>
                        <div id="duration">Duration: 0 Nights</div>
                        <input type="hidden" name="roomId" value="@Model.RoomId" />
                        <button type="submit" id="bookNowBtn" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer">Book Now</button>
                    </div>
                </form>
            </div>
        </div>
    }


    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function () {
            // Event binding for date input changes
            $('.date-input').on('change', function () {
                var checkInDate = $('#checkInDate').val();
                var checkOutDate = $('#checkOutDate').val();
                if (checkInDate && checkOutDate) {
                    var date1 = new Date(checkInDate);
                    var date2 = new Date(checkOutDate);
                    var timeDiff = date2.getTime() - date1.getTime();
                    var daysDiff = Math.ceil(timeDiff / (1000 * 3600 * 24));
                    $('#duration').text('Duration: ' + daysDiff + ' Nights');
                }
            });
        });
    </script>
</body>

</html>


